body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #808080;
}
#icon {
    font-size: 50pt;
}
.icon-letters {
    font-size: 30pt;
    color: #808080;
}
.fa-check-circle-o {
    color: #c7f0ff;
}
#footer {
    color: #808080;
    padding-top: 25px;
    padding-bottom: 20px;
    text-align: center;
}
.fa-cloud {
    color: #c7f0ff;
}
a:link {
    color: #808080;
    text-decoration: none;
}
a:visited {
    color: #808080;
    text-decoration: none;
}
a:hover {
    color: #808080;
    text-decoration: none;
}
a:active {
    color: #808080;
    text-decoration: none;
    text-shadow: 
}
.well-custom {
    padding: 10px;
    border: 1px solid rgba(125, 125, 125, 0.25);
    border-radius: 5px;
    box-shadow: 0px 0px 7px 0px;
}